@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	color: #c9c9c9;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;

	background: linear-gradient(-45deg, #748aa6, #333a45);
	background-size: 500% 500%;
	-webkit-animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;
	animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@keyframes gradient {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}

#main {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#links {
	font-size: medium;
	line-height: 150%;
}

h2 {
	font-weight: normal;
	font-size: large;
	line-height: 150%;
}

p, ul {
	font-size: medium;
}

a {
	color: #c9c9c9;
}

a:hover {
	color: #ffffff;
}

